@charset "utf-8";
#banner {
	height: 330px;
	background: url(../img/detail/banner.jpg);
}

#shopshow img {
	margin-left: 51px;
}

#shopshow .diyimgBox {
	margin-left: 51px;
}

#shopshow .diyimgBox img {
	margin: 0;
	display: block;
	float: left;
}